<h1>
  <center>Conversão entre bases</center>
</h1>

<table class="table-style" align="center">
  <tr>
    <th class="colum-style">
      <div id="text_insert">

        <h3>
          Informe o texto a ser convertido:
        </h3>

        <input type="text" maxlength="16">

        <h3>
          Qual a base do texto mencionado?
        </h3>

        <p><input type="radio" name="base_insert" id="binary_insert">
        <span> Binario </span>
        <p><input type="radio" name="base_insert" id="decimal_insert">
        <span> Decimal </span>
        <p><input type="radio" name="base_insert" id="octal_insert">
        <span> Octal </span>
        <p><input type="radio" name="base_insert" id="hex_insert"> 
        <span> Hexadecimal </span>
        <p><input type="radio" name="base_insert" id="text_insert">
        <span> Texto </span>
        </br>
        </br>

        <h3>
          Para qual base gostaria de converter?
        </h3>

        <p><input type="radio" name="base_view" id="binary_view">
        <span> Binario </span>
        <p><input type="radio" name="base_view" id="decimal_view">
        <span> Decimal </span>
        <p><input type="radio" name="base_view" id="octal_view">
        <span> Octal </span>
        <p><input type="radio" name="base_view" id="hex_view">
        <span> Hexadecimal </span>
        <p>
        <input type="submit" value="Converter">
      </div>
    </th>

    <th class="colum-style">
      <span>Texto convertido: </span>
      <p></p><textarea rows="10" cols="60" readonly>
      </textarea>
    </th>
  </tr>
</table>